<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <form (ngSubmit)="onSubmit(f)" #f="ngForm">
        <div>
          <label for="userName">User Name</label>
          <input class="form-control" type="text" [ngModel]="defaultName" name="userName" required #username="ngModel">
          <span *ngIf="!username.valid && username.touched" class="help-block">Please enter a user name</span>
        </div>
        <div>
          <label for="password">password</label>
          <input class="form-control" type="text" ngModel name="password" required #password="ngModel">
          <span *ngIf="!password.valid && password.touched" class="help-block">Please enter a password</span>
        </div>
        <div>
          <label for="Email">Email</label>
          <input class="form-control" type="text" ngModel name="email" required email #email="ngModel">
          <span *ngIf="!email.valid && email.touched" class="help-block">Please enter a valid email</span>
        </div>
        <button class="button-default btn-success" type="submit" [disabled]="!f.valid">Submit</button>
        <hr>

        <input id="name" name="name" class="form-control" required minlength="4" forbiddenName="boob" ngModel #ff="ngModel">
        <div *ngIf="ff.invalid && (ff.dirty || ff.touched)" class="alert alert-danger">
          <div *ngIf="ff.errors.required">
            Name is required.
          </div>          
          <div *ngIf="ff.errors.minlength">
            Name must be at least 4 characters long.
          </div>
          <div *ngIf="ff.errors.forbiddenName">
            Name cannot be Bob.
          </div>
        </div>
      </form>
    </div>
  </div>
</div>